*{
    box-sizing: border-box;
}

html, body, p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

#weather{
    margin: 0;
    padding: 0;
    position:absolute;
    top: 20px;
    left: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherAndTemperatureContainer {
    display: flex;
    align-items: center;
}

/* #author{
    display: flex;
    margin: 0;
    position: relative;
} */

.search-bar{
    display: flex;
    justify-content: center;
}

#time-container{
    text-align: center;
    gap: 10px;
    cursor: default;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%)
}

.hide-background{
    animation: fade 1.5s ease forwards;
}

.show-background{
    animation: fade-in 1.5s ease forwards;
}

#quote-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    width: 100%;
}

#quote{
    color: white
}

/*****Topography******/
p, h1, h2{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black
}

#time{
    font-size: 7.3em;
    font-weight: 600;
}

#day{
    font-size: 2.5em;
    font-weight: 400;
}

.bottom-left{
    margin-left: 15px;
    font-size: 22px;
}

.temperature{
    font-size: 30px;
    font-weight: bold;
}

.city{
    font-size: 20px;
}

.quote{
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: light;
}

.author{
    font-size: 1.5em;
    text-align: right;
    font-style: italic;
}
/*****Topography End******/

/*****Img, Icon, Buttons, Etc...******/
.icon{
    width: 50px;
}

#backgroundPhoto{
    margin: 0;
    width: auto;
    position: absolute;
    left: 95.5%;
    top: 98%;
    transform: translate(-50%,-50%);
    background: none;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: whitesmoke;
    padding: .3em .6em;
    border-radius: 5px;
    padding: 1em 3em;
    letter-spacing: 0.2em;

}

#backgroundPhoto:hover{
    background: inherit;
    text-decoration: underline;
}

#content{
    /* display: none; */
    margin: 0;
    width: auto;
    position: absolute;
    left: 88%;
    top: 98%;
    transform: translate(-50%,-50%);
    background: none;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: whitesmoke;
    padding: .3em .6em;
    border-radius: 5px;
    padding: 1em 3em;
    letter-spacing: 0.2em;
}

#content:hover{
    background: inherit;
    text-decoration: underline;
}
/*****Img, Icon, Etc...******/

@keyframes fade {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
