html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#author{
    display: flex;
    margin: 0;
    position: relative;
}

.search-bar{
    display: flex;
    justify-content: center;
}


/*****Topography******/
p{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black
}

.bottom-left{
    position: absolute;
    top: 90vh;
    left: 15px;
}